body{
	margin:0;
	padding:0;
	font-family:sans-serif;
	background-image:url(wallpapertip_wallpaper-technology-design_1677724.jpg);
	background-size:cover;
	background-position:center;
}
.sign-up-form{
	width:300px;
	height:50px;
	box-shadow:0 0 3px 0 rgba(0,0,0,0.3)
	background:#ffff;
	padding:20px;
	margin:8% auto 0;
	text-align:center;
}
.input-box{
	border-radius:20px;
	padding:10px;
	margin:10px 0;
	width:100%;
	border:1px solid #999;
	outline:none;
}
button{
	color:#ffff;
	width:100%;
	padding:10px;
	border-radius:20px;
	font-size:15px;
	margin:10px 0;
	outline:none;
	cursor:pointer;
}
.signup-btn{
	background-color:#1c8adb;
	background-color:#1c8adb;
}
img{
	width:50px;
}
#nameError {
  display: none;
  font-size: 0.8em;
}

#nameError.visible {
  display: block;
}

input.invalid {
  border-color: red;
}